@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.primary-btn{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    border: 0px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;

}

/* Header Style */

.header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--Dark-01, #131313);
}
nav > ul{
    display: flex;
}

nav  li{
    list-style: none;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 500;
    
}
nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424242);
}

/* banner style */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: var(--Dark-01, #131313);
}
.banner-description{
    color: var(--Dark-03, #727272);
    margin-top: 33px;
    margin-bottom: 33px;
    
}

.banner img{
    margin-top: 50px;
    width: 100%;
}



/* Main section style */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* Features Section Style */
.Features-Section{
    display: flex;
    margin-top: 5.31rem;
    gap: 4.75rem ;
    align-items: center;
}
.Features-title{
    font-size: 2.81rem;
    font-weight: 500;
    color: var(--Dark-01, #131313);
}
.F-T-color1{
    color: var(--Dark-03, #727272);
}
.F-T-color2{
    color: #FF900E;
}
.Features-description{
    color: var(--Dark-03, #727272);
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.Features-img-Section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}





/* Responsive style */


/* Mobile */
@media screen and (max-width:576px) {
    .header{
        padding: 20px;
    }

    nav{
        flex-direction: column;
        gap: 30px;
    }
    
}
/* tablet */
@media screen and (min-width:576.1px) and (max-width:960px) {
    .header{
        padding: 50px;
    }

    nav{
        flex-direction: column;
        gap: 30px;
    }
}